html {

    box-sizing: border-box;

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

form,
.list {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: stretch;
    gap: 1em
}

.list .list__item {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 100%;
    padding: 1em 0;
}

input[type="submit"] {
    background-color: royalblue;
    padding: 1em 0;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(85, 128, 255);
}